

.markdown-body h2 {
  font-weight: 700;
  font-family: "radio-canada-big", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}

.markdown-body img {
    width: 36rem;
}

.markdown-body p {
  font-family: "work-sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}